/node_modules
/vendor
/public/build
/.env
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!.gitkeep
!/storage/app/.gitkeep
!/storage/framework/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/bootstrap/cache/.gitkeep
!/database/.gitkeep
